body {
  padding-top: 20px;
  padding-bottom: 20px;

background: #abbaab; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  margin-bottom: 20px;
}
.panel-default{
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}

.alert{
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}
